.chess-board-container {
  position: relative;
}

.side-counter {
  width: 30px;
  height: 600px;
  left: -30px;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
}

.side-counter.black-bottom {
  flex-direction: column;
}

.bottom-counter {
  width: 600px;
  height: 30px;
  position: absolute;
  bottom: -30px;
  display: flex;
  flex-direction: row;
}

.bottom-counter.black-bottom {
  flex-direction: row-reverse;
}

.side-counter div,
.bottom-counter div {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px black solid;
}

.chess-board {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.chess-board.black-bottom {
  flex-direction: column-reverse;
}

.board-row {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}

.chess-board.black-bottom .board-row {
  flex-direction: row-reverse;
}

.board-field {
  cursor: pointer;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px black solid;
}

.chess-board .row-0 .col-0,
.chess-board .row-1 .col-1 {
  background: beige;
}

.chess-board .row-0 .col-1,
.chess-board .row-1 .col-0 {
  background: saddlebrown;
}

.toolbox {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: -200px;
  width: 150px;
}

.toolbox button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 36px;
  width: 70px;
  height: 70px;
}
