.chess-board-container {
  position: relative;

  .chess-board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    counter-reset: row-count 9;

    .row-0 .col-0,
    .row-1 .col-1 {
      background: beige;
    }

    .row-0 .col-1,
    .row-1 .col-0 {
      background: saddlebrown;
    }

    .board-row {
      flex: 1 1 0;
      display: flex;
      flex-direction: row;
      position: relative;
    }

    &.white-bottom {
      .board-row {
        &:before {
          z-index: 2;
          top: 5px;
          left: 5px;
          position: absolute;
          content: counter(row-count);
          counter-increment: row-count -1;
        }

        &:last-child {
          counter-reset: col-count;

          .board-field:before {
            z-index: 2;
            bottom: 5px;
            left: 5px;
            position: absolute;
            content: counter(col-count, lower-alpha);
            counter-increment: col-count;
          }
        }
      }
    }

    &.black-bottom {
      flex-direction: column-reverse;

      .board-row {
        flex-direction: row-reverse;

        &:after {
          z-index: 2;
          top: 5px;
          left: 5px;
          position: absolute;
          content: counter(row-count);
          counter-increment: row-count -1;
        }

        &:first-child {
          counter-reset: col-count;

          .board-field:before {
            z-index: 2;
            bottom: 5px;
            left: 5px;
            position: absolute;
            content: counter(col-count, lower-alpha);
            counter-increment: col-count;
          }
        }
      }
    }
  }

  .toolbox {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: -200px;
    width: 150px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      font-size: 36px;
      width: 70px;
      height: 70px;
    }
  }
}
